mixin videoDetailBlock(video = {})
    .videoBlock
       
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=`${video.fileUrl}`, controls)
            .didi
                div
                    img.avatar(src=video.avatarUrl)
                div
                    p.videoBlock__title=video.title
                    a.user__detail(href=routes.userDetail(video.creatorId))=video.creatorName
                    h4.videoBlock__views=video.views 
                        span view
        