extends layouts/main


block content 
    .flex__div
        .form-container#empty
        .form-container#join__form
            form#jsJoinform(action=routes.join, method="post")
                label FullName 
                input(type="text", name="name", placeholder="FullName" required=true)
                label Email
                input(type="email",name="email",placeholder="Eamil" required=true)
                label 비밀번호 (문자 및 숫자 포함 6~12글자) 
                span#jsPasswordSpan1
                input#jsPassword1(type="password",name="password",placeholder="Password" required=true)
                label 비밀번호 확인(문자 및 숫자 포함 6~12글자)
                span#jsPasswordSpan2
                input#jsPassword2(type="password",name="password2",placeholder="Verify Password" required=true)
                button#join__now(type="submit")|Join Now
            <hr></hr>    
                include partials/socialLogin    
        
        .form-container