extends layouts/main


block content 
    .flex__div__upload
        .form-container
        .form-container#upload__form
            .record-container#jsRecordContainer  
                video#jsVideoPreview
                button#jsRecordButton Start Recording
            form#jsUploadForm(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data")
                label.custom-file-upload(for="file")
                    i.fa.fa-cloud-upload Upload Video
                #file__div
                input(type="file", id="file", name="videoFile", required=true, accept="video/*")
                input(type="text", placeholder="Title", name="title", required=true)
                textarea(name="description", placeholder="Description", required=true)
                input#jsSubmit(type="submit", value="Upload Video", required=true)
                
        .form-container
            #loadingScreen
                img(src="https://media.giphy.com/media/17mNCcKU1mJlrbXodo/giphy.gif")
